 p { 
    color: white;
    font-size: 18px;
    line-height: 1.6;
 }
    h1 {
        color: #7c4dff;
        font-size: 36px;
        margin-bottom: 20px;
    }   

    ul {
        color: white;
        font-size: 18px;
        line-height: 1.6;
        margin-left: 20px;
    }
